<p>
    <mat-toolbar color="primary">
        <button (click)="onGoBackClick()" mat-icon-button class="example-icon" >
            <mat-icon>arrow_back</mat-icon>    
        </button>
        <button *ngIf="showQuests" (click)="onViewActiveClick()"  mat-button class="example-icon" >
            <mat-icon>visibility</mat-icon>    
            {{ viewActiveQuestsLabel }}
        </button>
        <button *ngIf="showCreate" (click)="onCreateClick()" mat-button class="example-icon" >
            <mat-icon>add</mat-icon>    
            Create quest
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" (click)="openLogin()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
</p>