

#map {
  height: 76%;
  width: 55%;
  position: absolute;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #673ab6;
  overflow: hidden;
}

#mapdiv {


  //width: 30%;
  display: flex;
  justify-content: space-between;
  //flex-direction: column;
  /*min-width: 300px;*/
}
