<form>
<div mat-dialog-content>
    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="data.title" placeholder="title" >
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="data.description" placeholder="description" >
            </textarea>
      </mat-form-field>
    </div>
</div>
</form>