<form>
<div mat-dialog-content>
    <div>
      <mat-form-field >
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="data.title" placeholder="title" name="title" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="data.description" placeholder="description" name="description">
            </textarea>
      </mat-form-field>
      <button (click)="onNoClick()" >Save</button>
     
        <span *ngFor="let point of data.possible">
          <br>
          <mat-checkbox [(ngModel)]="point.canBeVisited" [color]="'primary'" name="visited">
                 {{point.title}}
          </mat-checkbox>
          
        </span>
      

    </div>
</div>
</form>