table {
    width: 100%;
  }

  .header {
    background-color: #1e1a31;
    color: #ffffffd0;
    text-align: center;
  }

  .table-part {
    color: #ffffffd0;
    text-align: center;
    background-color: transparent;
  }

  .item {
    background-color: #15111be8;

  }
  .item:hover {
    color: 26272b;
    background-color: #13111b;
  }

  .ng-tns-c98-1 {
    color:white;
   }

   .filters {
     border: 1px solid rgba(56, 2, 143, 0.89);
     background-color: #26272b;
     color: white;
     text-overline-color: white;
     -moz-outline-color: white;
     padding: 5px 10px;
     margin-bottom: 20px;
     border-radius: 10px;
     display: inline-block;
   }

   .filter-row {
      display: flex;
      justify-content: start;
      * {
        margin: 0px 5px
      }
   }

   mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 25px;height: 25px;}

   .check {
     text-align: center;
     vertical-align: middle;
     padding-top: 20px;
     font-size: large;
   }
