<div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="title">
            <th class="header" mat-header-cell *matHeaderCellDef> Title </th>
            <td class="table-part"  mat-cell *matCellDef="let quest"> {{quest.title}} </td>
        </ng-container>
        
        <ng-container matColumnDef="creator">
            <th class="header" mat-header-cell *matHeaderCellDef> Creator </th>
            <td mat-cell class="table-part" *matCellDef="let quest"> {{quest.creator}} </td>
        </ng-container>
        
        <ng-container matColumnDef="gamesCount">
            <th class="header" mat-header-cell *matHeaderCellDef> Games count </th>
            <td class="table-part"  mat-cell *matCellDef="let quest"> {{quest.gamesCount}} </td>
        </ng-container>
        
        
        <tr class="table-part" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr class="item" mat-row
        (click)="onItemClicked(quest)"
         *matRowDef="let quest; columns: columnsToDisplay"></tr>    
    </table>
    <mat-paginator id='paginator' class="table-part" [length]="itemCount" [pageSizeOptions]="pageSizes">
    </mat-paginator>
</div>


