@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.login-container
{  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.example-form-field {
    width: 200px;
  }

.highlight
{
    color:rebeccapurple;
}